//Give the stock Sun a basic light curve so it doesnt light the whole universe.
@Kopernicus:NEEDS[InterstellarConsortium]
{
	@Body:HAS[#identifier[Squad/Sun]]
	{
		@ScaledVersion
		{
			Light
			{
				sunAU = 261600000
				
				luminosity = 1360
				brightnessCurve
                {
                    key = 0.0000000005 0.03 0 0
					key = 0.00000005 0.04 0 0
                    key = 0.0001 0.1 0 0
                    key = 0.001 0.3 0 0
                    key = 0.01 0.4 0 0
                    key = 0.1 4 0 0
                    key = 0.2 6 0 0
                    key = 0.3 10 0 0
					key = 0.5 22 0 0
					key = 0.65 0 0 0
                }
				IntensityCurve
				{
					key = 0 1 0 0
					key = 6.044e9 0.9 0 0
					key = 2e+12 0 0 0
				}
				IVAIntensityCurve
				{
					key = 0 1 0 0
					key = 6.044e9 0.9 0 0
					key = 2e+12 0 0 0
				}
				ScaledIntensityCurve
				{
					key = 0 1 0 0
					key = 1007333.33333 0.9 0 0
					key = 333333333.333 0 0 0
				}
			}
		}
	}
}
//Give the Outer Wilds Sun such a light curve as well, pending a custom lightcurve.
@Kopernicus:NEEDS[InterstellarConsortium]
{
	@Body:HAS[#identifier[KerbalWilds/Sun]]
	{
		@ScaledVersion
		{
			Light
			{
				%sunAU = 6.96e8 //sol's radius in meters
				@sunAU *= 1.238 //ow-sun's size in solar radii
				@sunAU *= 0.1 //IC is designed to work only in Scale = KSP
				//Kerbin SMA : 13599840256
				//OWSun Habzone: 1.354E+10
				%luminosity = 1360
				@luminosity *= 1.00886
				brightnessCurve
                {
                    key = 0.0000000005 0.03 0 0
					key = 0.00000005 0.04 0 0
                    key = 0.0001 0.1 0 0
                    key = 0.001 0.3 0 0
                    key = 0.01 0.4 0 0
                    key = 0.1 4 0 0
                    key = 0.2 6 0 0
                    key = 0.3 10 0 0
					key = 0.5 22 0 0
					key = 0.65 0 0 0
                }
				IntensityCurve
				{
					key = 0 1 0 0
					key = 6.044e9 0.9 0 0
					key = 2e+12 0 0 0
				}
				IVAIntensityCurve
				{
					key = 0 1 0 0
					key = 6.044e9 0.9 0 0
					key = 2e+12 0 0 0
				}
				ScaledIntensityCurve
				{
					key = 0 1 0 0
					key = 1007333.33333 0.9 0 0
					key = 333333333.333 0 0 0
				}
			}
		}
	}
}
@Kopernicus:HAS[!InterstellarConsortium]:AFTER[aWhirligigWorld]:NEEDS[InterstellarConsortium]
{
	#@InterstellarConsortium {}
}
@Kopernicus:HAS[@InterstellarConsortium:HAS[#home[Squad/Sun]]]:AFTER[aWhirligigWorld]:NEEDS[InterstellarConsortium]
{
	@Body:HAS[#identifier[KerbalWilds/Sun]]
	{
		@Properties
		{
			%displayName = EOTU-22A^N
			%description = Recently, a fascinating signal was discovered from this star, which has nearly an identical luminosity to the Sun, by KSP's "Eyes On The Universe" citizen science mission. It is a strong candidate for a SETI detection. What's much more peculiar, though, is that this star is a K3IV subgiant of 0.8 solar masses, at a state in its evolution that implies it is extremely old. Like, possibly older than the entire universe. This is of course almost certainly a problem with our models (how can something predate its creator?) but up-close exploration should prove fruitful. Since the EOTU SETI detection, the star has been named EOTU-22A. (EOTU-22B is of course whatever object emitted the signal.)\n\nThe star is orbited by a delightfully compact system of five exoplanets.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/EmberTwin]]
	{
		@Properties
		{
			%displayName = EOTU-22A c^N
			%description = The nearest known planet to EOTU-22A, planet c is known from radial velocity measurements to be about 0.68 Kerbin masses.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/AshTwin]]
	{
		@Properties
		{
			%displayName = EOTU-22A c B^N
			%description = Some irregularities EOTU-22A c' transit curve indicate it could be a binary planet.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/TimberHearth]]
	{
		@Properties
		{
			%displayName = EOTU-22A d^N
			%description = EOTU-22A's second planet, planet d is nearly the same mass as Kerbin. It's in the habitable zone now, but it was too cold for most of the star's lifetime. If there is any life there, it probably hasn't had time to get very big and complicated.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/Attlerock]]
	{
		@Properties
		{
			%displayName = EOTU-22A d I^N
			%description = We can't rule out the possibility of a satellite around any of these planets, but none are known yet.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/BrittleHollow]]
	{
		@Properties
		{
			%displayName = EOTU-22A e^N
			%description = EOTU-22A's third planet, planet e, is a little bit more massive than Kerbin. According to transit data, it is so much larger than Kerbin that it implies a low density, possibly even an ice-rich composition. Although there are some who have proposed, no doubt based on the famous SETI signal in this system, that the planet could be so sparse because it is hollow. Such a world would be too brittle to support itself, though, so we don't find the idea particularly plausible.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/HollowsLantern]]
	{
		@Properties
		{
			%displayName = EOTU-22A e I^N
			%description = We can't rule out the possibility of a satellite around any of these planets, but none are known yet.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/GiantsDeep]]
	{
		@Properties
		{
			%displayName = EOTU-22A b^N
			%description = EOTU-22A b, also known as ExoScan-1482212 b, was the first planet detected around EOTU-22, back before the SETI signal was found. It is around 8 Kerbin masses, implying it could be an Eve-like world.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/DarkBramble]]
	{
		@Properties
		{
			%displayName = EOTU-22A f^N
			%description = The outermost known planet of EOTU-22A, planet f is similar in size to planet e, except substantially less massive.
		}
	}
	@Body:HAS[#identifier[KerbalWilds/Interloper]]
	{
		@Properties
		{
			%displayName = EOTU-22A Comet 1^N
			%description = We can't rule out the possibility of comets orbiting this star, but none are known.
		}
	}
}