@principia_numerics_blueprint:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
}
@principia_numerics_blueprint:HAS[@KerbalWildsSettings:HAS[#Scale[RSS]]]:FOR[theKerbalWildsScale]
{
	@ephemeris
	{
		@integration_step_size  = 2.21359436 min
	}
}
@Scatterer_atmosphere:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Scatterer_planetsList:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@EVE_CLOUDS:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Kopernicus:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Scatterer_planetsList:HAS[@KerbalWildsSettings:HAS[#Scale[KSP]]]:FOR[theKerbalWildsScale]
{
	@scattererCelestialBodies:HAS[#KerbalWilds[True]]
	{
		@Item,*
		{
			@loadDistance *= 0.4
			@unloadDistance *= 0.4
		}
	}
}
@Scatterer_atmosphere:HAS[@KerbalWildsSettings:HAS[#Scale[KSP]]]:FOR[theKerbalWildsScale]
{
	@Atmo:HAS[#KerbalWilds[True]]
	{
		@HR *= 0.55
		@HM *= 0.55
		@ozoneHeight *= 0.55
		@ozoneFalloff *= 0.55
		@m_betaR[*] *= 1.81818182
		@BETA_MSca[*] *= 1.81818182
	}
}
@EVE_CLOUDS:HAS[@KerbalWildsSettings:HAS[#Scale[KSP]]]:FOR[theKerbalWildsScale]
{
	@OBJECT:HAS[#KerbalWilds[True]]
	{
		@altitude *= 0.55
		@speed[*] *= 0.632455532
		@detailSpeed[*] *= 0.632455532
		@settings
		{
			@_speed *= 0.632455532
			@_flowSpeed *= 0.632455532
			@_DetailDist *= 0.4
			@_FlowMap
			{
				@speed *= 1.58113883
			}
		}
		@layerRaymarchedVolumeV5
		{
			@scaledFadeStartAltitude *= 0.4
			@scaledFadeEndAltitude *= 0.4
			@cloudTypes
			{
				@Item,*
				{
					@minAltitude *= 0.55
					@maxAltitude *= 0.55
				}
			}
		}
	}
}
@EVE_CLOUDS[TimberHearthClouds]:HAS[@KerbalWildsSettings:HAS[#Scale[KSP]]]:AFTER[theKerbalWildsScale]
{
	@OBJECT:HAS[#name[TimberHearthGeysers]]
	{
		@layerRaymarchedVolumeV5
		{
			@cloudTypes
			{
				@Item:HAS[#typeName[bottom]]
				{
					@minAltitude = -4200
				}
			}
		}
	}
}


@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[KSP]]]:FOR[theKerbalWildsScale]
{
	
	@Body:HAS[#KerbalWilds[True]]
	{
		cacheFileTemp = TheKerbalWilds/KopernicusFiles/Cache/KSPscaleCaches
		@cacheFile = #$cacheFileTemp$/$name$.bin
		@Properties
		{
			@radius *= 0.4
			@gravParameter *= 0.16
			@mass *= 0.16
			@rotationPeriod *= 0.632455532
			@sphereOfInfluence *= 0.4
			@ScienceValues
			{
				@flyingAltitudeThreshold *= 0.875
				@spaceAltitudeThreshold *= 0.4
			}
		}
		@Atmosphere:HAS[~enabled[False]]
		{
			@maxAltitude *= 0.657894737 //= 75/114
			@altitude *= 0.657894737
			@atmosphereDepth *= 0.657894737

			
			@pressureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.875 //7/8
				@key,*[2, ] /= 0.875
				@key,*[3, ] /= 0.875
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.875
				@key,*[2, ] /= 0.875
				@key,*[3, ] /= 0.875
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureSunMultCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.875
				@key,*[2, ] /= 0.875
				@key,*[3, ] /= 0.875
				
				@key,* ^= : 0 0 0 x$: :
			}
		}
		@Orbit
		{
			@semiMajorAxis *= 0.4
		}
		@ScaledVersion
		{
			@fadeStart *= 1
			@fadeEnd *= 1
			@Light
			{
				@sunAU *= 0.4
				@IntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.4
					@key,*[2, ] /= 0.4
					@key,*[3, ] /= 0.4
				}
				@IVAIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.4
					@key,*[2, ] /= 0.4
					@key,*[3, ] /= 0.4
				}
				@ScaledIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.4
					@key,*[2, ] /= 0.4
					@key,*[3, ] /= 0.4
				}
			}
		}
		@PQS
		{
			@fadeStart *= 1
			@fadeEnd *= 1
			@deactivateAltitude *= 0.5
			@maxLevel -= 1
			@Mods
			{
				@LandControl,*
				{
					@vHeightMax *= 0.5
				}
				@FlattenOcean,*
				{
					@oceanRadius  *= 0.5
				}
				@VertexHeightOffset,*
				{
					@offset *= 0.5
				}
				@VertexHeightMap,*
				{
					@deformity *= 0.5
					@offset *= 0.5
				}
				@VertexMitchellNetravaliHeightMap,*
				{
					@deformity *= 0.5
					@offset *= 0.5
				}
				@VertexHeightNoiseVertHeightCurve2,*
				{
					@deformity *= 0.5
				}
				@VertexHeightNoiseVertHeight,*
				{
					@deformity *= 0.5
				}
				@VertexRidgedAltitudeCurve,*
				{
					@deformity *= 0.5
				}
				@VertexHeightNoise,*
				{
					@deformity *= 0.5
				}
				@VertexHeightOffset,*
				{
					@deformity *= 0.5
				}
				@VertexPlanet,*
				{
					@deformity *= 0.5
				}
				@VertexSimplexHeightAbsolute,*
				{
					@deformity *= 0.5
				}
				@VertexSimplexHeight,*
				{
					@deformity *= 0.5
				}
				@VoronoiCraters,*
				{
					@deformation *= 0.5
				}
				@VertexVoronoi,*
				{
					@deformation *= 0.5
				}


				@FlattenOceanRegional,*
				{
					@Mod
					{
						@oceanRadius  *= 0.5
					}
				}
				@VertexHeightOffsetRegional,*
				{
					@Mod
					{
						@offset *= 0.5
					}
				}
				@VertexHeightMapRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
						@offset *= 0.5
					}
				}
				@VertexMitchellNetravaliHeightMapRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
						@offset *= 0.5
					}
				}
				@VertexHeightNoiseVertHeightRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VertexHeightNoiseVertHeightCurve2Regional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VertexRidgedAltitudeCurveRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VertexHeightNoiseRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VertexHeightOffsetRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VertexPlanetRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VertexSimplexHeightAbsoluteRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VertexSimplexHeightRegional,*
				{
					@Mod
					{
						@deformity *= 0.5
					}
				}
				@VoronoiCratersRegional,*
				{
					@Mod
					{
						@deformation *= 0.5
					}
				}
				@VertexVoronoiRegional,*
				{
					@Mod
					{
						@deformation *= 0.5
					}
				}

				@VertexHeightOblateAdvanced
				{
					@radius *= 0.4
					@mass *= 0.16
					@period *= 0.632455532
				}
			}
		}
		
	}
}
@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[KSP]]]:AFTER[theKerbalWildsScale]
{
	@Body:HAS[#identifier[KerbalWilds/TimberHearth]]
	{
		@cacheFile = TheKerbalWilds/KopernicusFiles/Cache/KSPscaleCaches/TimberHearth.bin
		@Atmosphere
		{
			@maxAltitude = 75000
			@altitude = 75000
			@atmosphereDepth = 75000
		}
		@PQS
		{
			@Properties
			{
				@rotationPeriod = 21600
			}
			@Mods
			{
				@MapDecalTangent
				{
					@radius = 7500
				}
			}
		}
	}
	@Body[Interloper]
	{
		@Properties
		{
			@radius = 64000
			@radius *= 0.632455532
			@rotationPeriod = 65108425.847080946
			@rotationPeriod *= 0.316227766
		}
		@PQS
		{
			@Mods
			{
				@LandControl[ScatterLandControl]
				{
					@vHeightMax = 50000
					@vHeightMax *= 0.632455532
				}
				@AltitudeAlpha
				{
					@atmosphereDepth = 50000
					@atmosphereDepth *= 0.632455532
				}
				@VertexMitchellNetravaliHeightMap[ShapeMap]
				{
					@deformity = 64000 //radius
					@deformity *= 0.316227766 //sqrt of rescale factor
					@deformity *= 1.38787222
				}
				@VertexHeightMap[DetailHeight]
				{
					@deformity = 1500
					@deformity *= 0.632455532
				}
				@VertexHeightNoiseRegional[VHNR1]
				{
					@Mod
					{
						@deformity = 200
						@deformity *= 0.632455532
						
					}
				}
				@VertexSimplexHeightAbsolute[VSHA]
				{
					@deformity = 250
					@deformity *= 0.632455532
				}
				@VertexHeightNoiseRegional[VHNR2]
				{
					@Mod
					{
						@deformity = 10
						@deformity *= 0.632455532
						
					}
				}
			}
		}
	}
}