@Kopernicus:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}

@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[Quarter]]]:FOR[theKerbalWildsScale]
{
	//Scale the atmosphere depth by 85/125
	//Scale the atmosphere scale height by 7/8 (to match stock scale height)
	@Body[*],*
	{
		@Atmosphere:HAS[~enabled[False]]
		{
			@maxAltitude *= 0.68 //= 85/125
			@altitude *= 0.68
			@atmosphereDepth *= 0.68

			
			@pressureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.875 //7/8
				@key,*[2, ] /= 0.875
				@key,*[3, ] /= 0.875
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.875
				@key,*[2, ] /= 0.875
				@key,*[3, ] /= 0.875
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureSunMultCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.875
				@key,*[2, ] /= 0.875
				@key,*[3, ] /= 0.875
				
				@key,* ^= : 0 0 0 x$: :
			}
		}
	}
}