@Scatterer_planetsList:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Scatterer_planetsList:HAS[@KerbalWildsSettings:HAS[#Scale[RSS]]]:FOR[theKerbalWildsScale]
{
	@scattererCelestialBodies
	{
		@Item,*
		{
			loadDistance *= 4
			unloadDistance *= 4
		}
	}
}
@Kopernicus:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}

@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[RSS]]]:FOR[theKerbalWildsScale]
{
	Preset
	{
		name = KerbalWildsRSSscale
		PLANET
		{
			name = Kerbin
			minSubdivision = 2
			maxSubdivision = 12
		}
	}
	@Body:HAS[#KerbalWilds[True]]
	{
		cacheFileTemp = TheKerbalWilds/KopernicusFiles/Cache/RSSscaleCaches
		@cacheFile = #$cacheFileTemp$/$name$.bin
		@Properties
		{
			@radius *= 4
			@gravParameter *= 16
			@mass *= 16
			@rotationPeriod *= 2
			@sphereOfInfluence *= 4
			
		}
		//Atmosphere is already RSS scale.
		@Orbit
		{
			@semiMajorAxis *= 4
		}
		@ScaledVersion
		{
			@fadeStart *= 1
			@fadeEnd *= 1
			@Light
			{
				@sunAU *= 4
				@IntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 4
					@key,*[2, ] /= 4
					@key,*[3, ] /= 4
				}
				@IVAIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 4
					@key,*[2, ] /= 4
					@key,*[3, ] /= 4
				}
				@ScaledIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 4
					@key,*[2, ] /= 4
					@key,*[3, ] /= 4
				}
			}
		}
		@PQS
		{
			@fadeStart *= 1
			@fadeEnd *= 1
			@deactivateAltitude *= 1
			@maxLevel += 1
			@Mods
			{
				@LandControl
				{
					@vHeightMax *= 1
				}
				@FlattenOcean[*],*
				{
					@oceanRadius  *= 1
				}
				@VertexHeightOffset[*],*
				{
					@offset *= 1
				}
				@VertexHeightMap[*],*
				{
					@deformity *= 1
					@offset *= 1
				}
				@VertexMitchellNetravaliHeightMap[*],*
				{
					@deformity *= 1
					@offset *= 1
				}
				@VertexHeightNoiseVertHeightCurve2[*],*
				{
					@deformity *= 1
				}
				@VertexRidgedAltitudeCurve[*],*
				{
					@deformity *= 1
				}
				@VertexHeightNoise[*],*
				{
					@deformity *= 1
				}
				@VertexHeightOffset[*],*
				{
					@deformity *= 1
				}
				@VertexPlanet[*],*
				{
					@deformity *= 1
				}
				@VertexSimplexHeightAbsolute[*],*
				{
					@deformity *= 1
				}
				@VertexSimplexHeight[*],*
				{
					@deformity *= 1
				}
				@VoronoiCraters[*],*
				{
					@deformity *= 1
				}
				@VertexVoronoi[*],*
				{
					@deformation *= 1
				}


				@FlattenOceanRegional[*],*
				{
					Mod
					{
						@oceanRadius  *= 1
					}
				}
				@VertexHeightOffsetRegional[*],*
				{
					Mod
					{
						@offset *= 1
					}
				}
				@VertexHeightMapRegional[*],*
				{
					Mod
					{
						@deformity *= 1
						@offset *= 1
					}
				}
				@VertexMitchellNetravaliHeightMapRegional[*],*
				{
					Mod
					{
						@deformity *= 1
						@offset *= 1
					}
				}
				@VertexHeightNoiseVertHeightCurve2Regional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VertexRidgedAltitudeCurveRegional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VertexHeightNoiseRegional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VertexHeightOffsetRegional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VertexPlanetRegional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VertexSimplexHeightAbsoluteRegional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VertexSimplexHeightRegional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VoronoiCratersRegional[*],*
				{
					Mod
					{
						@deformity *= 1
					}
				}
				@VertexVoronoiRegional[*],*
				{
					Mod
					{
						@deformation *= 1
					}
				}

				@VertexHeightOblateAdvanced
				{
					@radius *= 4
					@mass *= 16
					@period *= 2
				}
			}
		}
	}
}

@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[RSS]]]:AFTER[theKerbalWildsScale]
{
	@Body[Kerbin]
	{
		@PQS
		{
			@Mods
			{
				@MapDecalTangent
				{
					@radius = 60000
				}
			}
		}
	}
	@Body[Interloper]
	{
		@Properties
		{
			radius = 64000
		}
		@PQS
		{
			@Mods
			{
				@LandControl[ScatterLandControl]
				{
					@vHeightMax *= 2
				}
				@VertexMitchellNetravaliHeightMap[ShapeMap]
				{
					@deformity *= 2
				}
				@AltitudeAlpha
				{
					@atmosphereDepth *= 2
				}
				@VertexHeightMap[DetailHeight]
				{
					@deformity *= 2
				}
				@VertexHeightNoiseRegional[VHNR1]
				{
					@Mod
					{
						@deformity *= 2
						
					}
				}
				@VertexSimplexHeightAbsolute[VSHA]
				{
					@deformity *= 2
				}
				@VertexHeightNoiseRegional[VHNR2]
				{
					@Mod
					{
						@deformity *= 2
						
					}
				}
			}
		}
	}
}