@principia_numerics_blueprint:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@principia_numerics_blueprint:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	@ephemeris
	{
		@integration_step_size = 0.637 min
	}
}
@Scatterer_atmosphere:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Scatterer_planetsList:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@EVE_CLOUDS:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Kopernicus:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Scatterer_planetsList:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	@scattererCelestialBodies
	{
		@Item:HAS[#KerbalWilds[True]]
		{
			loadDistance *= 0.0333333333
			unloadDistance *= 0.033333333
		}
	}
}
@Scatterer_atmosphere:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	@Atmo:HAS[#KerbalWilds[True]]
	{
		@HR *= 0.11
		@HM *= 0.11
		@ozoneHeight *= 0.11
		@ozoneFalloff *= 0.11
		@m_betaR[*] *= 9.09090909
		@BETA_MSca[*] *= 9.09090909
	}
}
@EVE_CLOUDS:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	@OBJECT:HAS[#KerbalWilds[True]]
	{
		@altitude *= 0.1
		@speed[*] *= 0.182574186
		@detailSpeed[*] *= 0.182574186
		@settings
		{
			@_speed *= 0.182574186
			@_flowSpeed *= 0.182574186
			@_DetailDist *= 0.0333333333
			@_FlowMap
			{
				@speed *= 5.47722557
			}
		}
		
		@layerRaymarchedVolumeV5
		{
			@scaledFadeStartAltitude *= 0.06666
			@scaledFadeEndAltitude *= 0.06666
			@cloudTypes
			{
				@Item,*
				{
					@minAltitude *= 0.11
					@maxAltitude *= 0.11
					@baseNoiseTiling *= 0.11
				}
			}
			// @raymarchingSettings
			// {
				// @lightMarchDistance *= 0.11
				// @continuousAccumulationDistance *= 0.11
			// }
		}
	}
}
@EVE_CLOUDS:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:AFTER[theKerbalWildsScale]
{
	@OBJECT[AT-duststorm-big]
	{
		@layer2D
		{
			@shadowMaterial
			{
				@_ShadowFactor = 0
			}
		}
		@layerRaymarchedVolumeV5
		{
			@cloudTypes
			{
				@Item:HAS[#typeName[Wake]]
				{
					@maxAltitude *= 2
					@baseNoiseTiling *= 9
				}
				@Item:HAS[#typeName[Front]]
				{
					@maxAltitude *= 1.5
					@baseNoiseTiling *= 9
				}
			}
		}
	}
}
@EVE_CLOUDS[TimberHearthClouds]:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:AFTER[theKerbalWildsScale]
{
	@OBJECT:HAS[#name[TimberHearthGeysers]]
	{
		@layerRaymarchedVolumeV5
		{
			@cloudTypes
			{
				@Item:HAS[#typeName[bottom]]
				{
					@minAltitude = -3000
				}
			}
		}
	}
}


@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	
	@Body:HAS[#KerbalWilds[True]]
	{
		cacheFileTemp = TheKerbalWilds/KopernicusFiles/Cache/ToyScaleCaches
		@cacheFile = #$cacheFileTemp$/$name$.bin
		@Properties
		{
			@radius *= 0.0333333333 //=(1/120)/(1/4)
			@gravParameter *= 0.00111111111
			@mass *= 0.00111111111
			@rotationPeriod *= 0.182574186
			@sphereOfInfluence *= 0.0333333333
			@ScienceValues
			{
				@flyingAltitudeThreshold *= 0.11
				@spaceAltitudeThreshold *= 0.0333333333
			}
			
		}
		@Atmosphere:HAS[~enabled[False]]
		{
			@maxAltitude *= 0.11 //= 20/125
			@altitude *= 0.11
			@atmosphereDepth *= 0.11

			
			@pressureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.15 //20/80
				@key,*[2, ] /= 0.15
				@key,*[3, ] /= 0.15
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.15
				@key,*[2, ] /= 0.15
				@key,*[3, ] /= 0.15
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureSunMultCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.15
				@key,*[2, ] /= 0.15
				@key,*[3, ] /= 0.15
				
				@key,* ^= : 0 0 0 x$: :
			}
		}
		@Atmosphere:HAS[~addAFG[False],~enabled[False]]
		{
			@AtmosphereFromGround:HAS[#outerRadius[*]]
			{
				@outerRadius /= #$../../Properties/radius$
				&outerRadiusMult = #$outerRadius$
				!outerRadius,* = DEL
			}
			%AtmosphereFromGround
			{
				&outerRadiusMult = 1.025
			}
			@AtmosphereFromGround:HAS[#innerRadius[*]]
			{
				@innerRadius /= #$../../Properties/radius$
				@innerRadius /= #$outerRadiusMult$
				&innerRadiusMult = #$innerRadius$
				!innerRadius,* = DEL
			}
			%AtmosphereFromGround
			{
				&innerRadiusMult = 0.975
			}
			@AtmosphereFromGround:HAS[#transformScale[*]]
			{
				@transformScale ^= : ::
				@transformScale ^= :	::
			}
			@AtmosphereFromGround:HAS[#transformScale[0,0,0]]
			{
				%removeAFG = True
			}
			@AtmosphereFromGround:HAS[~removeAFG[True]]
			{
				@innerRadiusMult *= #$outerRadiusMult$
				@innerRadiusMult -= 1
				@innerRadiusMult *= 0.11
				@innerRadiusMult += 1
				
				@outerRadiusMult -= 1
				@outerRadiusMult *= 0.11
				%transformScale = #$outerRadiusMult$
				@outerRadiusMult += 1
				
				@innerRadiusMult /= #$outerRadiusMult$
				
				@transformScale *= 2
				@transformScale *= #$../../Properties/radius$
				@transformScale *= 0.0333333333
			}
			@AtmosphereFromGround:HAS[#transformScale[<7500],~removeAFG[True]]
			{
				@transformScale = 7500
			}
			@AtmosphereFromGround:HAS[~removeAFG[True]]
			{
				@transformScale /= #$../../Properties/radius$
				@transformScale /= 0.0333333333
				@transformScale += 1
				@transformScale = #$transformScale$,$transformScale$,$transformScale$
			}
			@AtmosphereFromGround:HAS[#removeAFG[True]]
			{
				%transformScale = 0,0,0
				!removeAFG = DEL
			}
		}
		@Orbit
		{
			@semiMajorAxis *= 0.0333333333
		}
		@ScaledVersion
		{
			@fadeStart *= 0.2
			@fadeEnd *= 0.2
			@Light
			{
				@sunAU *= 0.0333333333
				@IntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.0333333333
					@key,*[2, ] /= 0.0333333333
					@key,*[3, ] /= 0.0333333333
				}
				@IVAIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.0333333333
					@key,*[2, ] /= 0.0333333333
					@key,*[3, ] /= 0.0333333333
				}
				@ScaledIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.0333333333
					@key,*[2, ] /= 0.0333333333
					@key,*[3, ] /= 0.0333333333
				}
			}
		}
		@PQS
		{
			@fadeStart *= 0.2
			@fadeEnd *= 0.2
			@deactivateAltitude *= 0.2
			@maxLevel -= 3
			@Mods
			{
				@LandControl,*
				{
					@vHeightMax *= 0.0666666666
				}
				@FlattenOcean,*
				{
					@oceanRadius  *= 0.0666666666
				}
				@VertexHeightOffset,*
				{
					@offset *= 0.0666666666
				}
				@VertexHeightMap,*
				{
					@deformity *= 0.0666666666
					@offset *= 0.0666666666
				}
				@VertexMitchellNetravaliHeightMap,*
				{
					@deformity *= 0.0666666666
					@offset *= 0.0666666666
				}
				@VertexHeightNoiseVertHeightCurve2,*
				{
					@deformity *= 0.0666666666
				}
				@VertexHeightNoiseVertHeight,*
				{
					@deformity *= 0.0666666666
				}
				@VertexRidgedAltitudeCurve,*
				{
					@deformity *= 0.0666666666
				}
				@VertexHeightNoise,*
				{
					@deformity *= 0.0666666666
				}
				@VertexHeightOffset,*
				{
					@deformity *= 0.0666666666
				}
				@VertexPlanet,*
				{
					@deformity *= 0.0666666666
				}
				@VertexSimplexHeightAbsolute,*
				{
					@deformity *= 0.0666666666
				}
				@VertexSimplexHeight,*
				{
					@deformity *= 0.0666666666
				}
				@VoronoiCraters,*
				{
					@deformation *= 0.0666666666
				}
				@VertexVoronoi,*
				{
					@deformation *= 0.0666666666
				}


				@FlattenOceanRegional,*
				{
					@Mod
					{
						@oceanRadius  *= 0.0666666666
					}
				}
				@VertexHeightOffsetRegional,*
				{
					@Mod
					{
						@offset *= 0.0666666666
					}
				}
				@VertexHeightMapRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
						@offset *= 0.0666666666
					}
				}
				@VertexMitchellNetravaliHeightMapRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
						@offset *= 0.0666666666
					}
				}
				@VertexHeightNoiseVertHeightRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexHeightNoiseVertHeightCurve2Regional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexRidgedAltitudeCurveRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexHeightNoiseRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexHeightOffsetRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexPlanetRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexSimplexHeightAbsoluteRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexSimplexHeightRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VoronoiCratersRegional,*
				{
					@Mod
					{
						@deformation *= 0.0666666666
					}
				}
				@VertexVoronoiRegional,*
				{
					@Mod
					{
						@deformation *= 0.05555555555
					}
				}

				@VertexHeightOblateAdvanced
				{
					@radius *= 0.03333333333
					@mass *= 0.00111111111
					@period *= 0.182574186
				}
			}
		}
		
	}
}
@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:AFTER[theKerbalWildsScale]
{
	@Body:HAS[#identifier[KerbalWilds/Sun]]
	{
		@Properties
		{
			@radius *= 1.5
			@ScienceValues
			{
				@spaceAltitudeThreshold *= 0.25
			}
		}
	}
	@Body:HAS[#identifier[KerbalWilds/TimberHearth]]
	{
		@Properties
		{
			@rotationPeriod = 7200
		}
		@Orbit
		{
			@semiMajorAxis *= 0.25
		}
		@cacheFile = TheKerbalWilds/KopernicusFiles/Cache/ToyScaleCaches/TimberHearth.bin
		@Atmosphere
		{
			@maxAltitude = 12500
			@altitude = 12500
			@atmosphereDepth = 12500
		}
		@PQS
		{
			@Mods
			{
				@MapDecalTangent
				{
					@radius = 4000
				}
				VertexHeightMap
				{
					name = ShapeMap
					map = TheKerbalWilds/ScalePatch/PluginData/TimberHearthShape.png
					deformity = 2266.6666644
					offset = -593.33333274
				}
			}
		}
	}
	@Body[Attlerock]
	{
		@Orbit
		{
			@semiMajorAxis *= 0.5
		}
		@PQS
		{
			@Mods
			{
				@VertexHeightMap[ShapeBlend]
				{
					
					@deformity = 492.8
				}
				@VertexHeightMap[FarsideBasin]
				{
					
					@deformity = 1100
				}
			}
		}
	}
	@Body[EmberTwin]
	{
		@Orbit
		{
			@semiMajorAxis *= 0.25
		}
		@PQS
		{
			@Mods
			{
				@VertexMitchellNetravaliHeightMap[Terraced]
				{	
					@deformity = 6500
					@deformity *= 0.11
				}
			}
		}
	}
	@Body[DarkBramble]
	{
		@Orbit
		{
			@semiMajorAxis *= 0.25
		}
		@PQS
		{
			@Mods
			{
				@VertexHeightMap[HeightMap]
				{
					@deformity = 13000
					@deformity *= 0.11
				}
			}
		}
	}
	@Body[GiantsDeep]
	{
		@Orbit
		{
			@semiMajorAxis *= 0.25
		}
	}
	@Body[AshTwin]
	{
		@PQS
		{
			@Mods
			{
				@VertexHeightMap
				{
					@deformity = 20000
					@deformity *= 0.12
					@offset = -3100
					@offset *= 0.12
				}
				@FlattenOcean
				{
					@oceanRadius = 1000
					@oceanRadius *= 0.12
				}
			}
		}
	}
	@Body[HollowsLantern]
	{
		@PQS
		{
			@Mods
			{
				@VertexHeightMap[HeightMap]
				{
					@deformity = 7500
					@offset = -1794.5
					@deformity *= 0.11
					@offset *= 0.11
				}
			}
		}
	}
	@Body[BrittleHollow]
	{
		@Orbit
		{
			@semiMajorAxis *= 0.25
		}
		@PQS
		{
			@Mods
			{
				@VertexHeightMap[HeightMap]
				{
					@deformity = 10000
					@deformity *= 0.11
				}
				@VertexVoronoiRegional[Voronoi1]
				{
					@Mod
					{
						@deformation = 2800
						@deformation *= 0.11
					}
				}
				@VertexVoronoiRegional[Voronoi2]
				{
					@Mod
					{
						@deformation = 2300
						@deformation *= 0.10
					}
				}
				@VertexVoronoiRegional[Voronoi3]
				{
					@Mod
					{
						@deformation = 1400
						@deformation *= 0.088333333
					}
				}
			}
		}
	}
	@Body[Interloper]
	{
		@Properties
		{
			@radius = 64000
			@radius *= 0.0912870929 //half the sqrt of the rescale factor.
			@rotationPeriod = 65108425.847080946
			@rotationPeriod *= 0.182574186
			@rotationPeriod *= 0.125
		}
		@Orbit
		{
			@semiMajorAxis *= 0.25
		}
		@PQS
		{
			@Mods
			{
				@LandControl[ScatterLandControl]
				{
					@vHeightMax = 50000
					@vHeightMax *= 0.0912870929
				}
				@AltitudeAlpha
				{
					@atmosphereDepth = 50000
					@atmosphereDepth *= 0.0912870929
				}
				@VertexMitchellNetravaliHeightMap[ShapeMap]
				{
					@deformity = 64000 //radius
					@deformity *= 0.0912870929 //sqrt of rescale factor
					@deformity *= 1.38787222
				}
				@VertexHeightMap[DetailHeight]
				{
					@deformity = 1500
					@deformity *= 0.0912870929
				}
				@VertexHeightNoiseRegional[VHNR1]
				{
					@Mod
					{
						@deformity = 200
						@deformity *= 0.0912870929
						
					}
				}
				@VertexSimplexHeightAbsolute[VSHA]
				{
					@deformity = 250
					@deformity *= 0.0912870929
				}
				@VertexHeightNoiseRegional[VHNR2]
				{
					@Mod
					{
						@deformity = 10
						@deformity *= 0.0912870929
						
					}
				}
			}
		}
	}
}