@Scatterer_atmosphere:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@EVE_CLOUDS:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Kopernicus:HAS[!KerbalWildsSettings]:FOR[TheKerbalWildsScale]
{
	#@KerbalWildsSettings {}
}
@Scatterer_atmosphere:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	@Atmo
	{
		@HR *= 0.11
		@HM *= 0.11
	}
}
@EVE_CLOUDS:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	@OBJECT[*],*
	{
		@altitude *= 0.1
		@layerRaymarchedVolumeV5
		{
			@cloudTypes
			{
				@Item,*
				{
					@minAltitude *= 0.11
					@maxAltitude *= 0.11
				}
			}
		}
	}
}
@EVE_CLOUDS[TimberHearthClouds]:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:AFTER[theKerbalWildsScale]
{
	@OBJECT:HAS[#name[TimberHearthGeysers]]
	{
		@layerRaymarchedVolumeV5
		{
			@cloudTypes
			{
				@Item:HAS[#typeName[bottom]]
				{
					@minAltitude = -3000
				}
			}
		}
	}
}


@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:FOR[theKerbalWildsScale]
{
	@Body[*],*
	{
		cacheFileTemp = TheKerbalWilds/KopernicusFiles/Cache/ToyScaleCaches
		@cacheFile = #$cacheFileTemp$/$name$.bin
		@Properties
		{
			@radius *= 0.0333333333 //=(1/120)/(1/4)
			@gravParameter *= 0.00111111111
			@mass *= 0.00111111111
			@rotationPeriod *= 0.182574186
			@sphereOfInfluence *= 0.0333333333
			@ScienceValues
			{
				@flyingAltitudeThreshold = 0.11
				@spaceAltitudeThreshold *= 0.0333333333
			}
			
		}
		@Atmosphere:HAS[~enabled[False]]
		{
			@maxAltitude *= 0.11 //= 20/125
			@altitude *= 0.11
			@atmosphereDepth *= 0.11

			
			@pressureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.15 //20/80
				@key,*[2, ] /= 0.15
				@key,*[3, ] /= 0.15
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.15
				@key,*[2, ] /= 0.15
				@key,*[3, ] /= 0.15
				
				@key,* ^= : 0 0 0 x$: :
			}
			
			@temperatureSunMultCurve
			{
				@key,* ^= :	: :
				
				@key,* ^= :$: 0 0 0 x:
				
				@key,*[0, ] *= 0.15
				@key,*[2, ] /= 0.15
				@key,*[3, ] /= 0.15
				
				@key,* ^= : 0 0 0 x$: :
			}
		}
		@Orbit
		{
			@semiMajorAxis *= 0.0333333333
		}
		@ScaledVersion
		{
			@fadeStart *= 0.3
			@fadeEnd *= 0.3
			@Light
			{
				@sunAU *= 0.0333333333
				@IntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.0333333333
					@key,*[2, ] /= 0.0333333333
					@key,*[3, ] /= 0.0333333333
				}
				@IVAIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.0333333333
					@key,*[2, ] /= 0.0333333333
					@key,*[3, ] /= 0.0333333333
				}
				@ScaledIntensityCurve
				{
					@key,* ^= :\s+: :
					@key,*[0, ] *= 0.0333333333
					@key,*[2, ] /= 0.0333333333
					@key,*[3, ] /= 0.0333333333
				}
			}
		}
		@PQS
		{
			@fadeStart *= 0.3
			@fadeEnd *= 0.3
			@deactivateAltitude *= 0.3
			@maxLevel -= 1
			@Mods
			{
				@LandControl,*
				{
					@vHeightMax *= 0.0666666666
				}
				@FlattenOcean,*
				{
					@oceanRadius  *= 0.0666666666
				}
				@VertexHeightOffset,*
				{
					@offset *= 0.0666666666
				}
				@VertexHeightMap,*
				{
					@deformity *= 0.0666666666
					@offset *= 0.0666666666
				}
				@VertexMitchellNetravaliHeightMap,*
				{
					@deformity *= 0.0666666666
					@offset *= 0.0666666666
				}
				@VertexHeightNoiseVertHeightCurve2,*
				{
					@deformity *= 0.0666666666
				}
				@VertexRidgedAltitudeCurve,*
				{
					@deformity *= 0.0666666666
				}
				@VertexHeightNoise,*
				{
					@deformity *= 0.0666666666
				}
				@VertexHeightOffset,*
				{
					@deformity *= 0.0666666666
				}
				@VertexPlanet,*
				{
					@deformity *= 0.0666666666
				}
				@VertexSimplexHeightAbsolute,*
				{
					@deformity *= 0.0666666666
				}
				@VertexSimplexHeight,*
				{
					@deformity *= 0.0666666666
				}
				@VoronoiCraters,*
				{
					@deformity *= 0.0666666666
				}
				@VertexVoronoi,*
				{
					@deformation *= 0.0666666666
				}


				@FlattenOceanRegional,*
				{
					Mod
					{
						@oceanRadius  *= 0.0666666666
					}
				}
				@VertexHeightOffsetRegional,*
				{
					Mod
					{
						@offset *= 0.0666666666
					}
				}
				@VertexHeightMapRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
						@offset *= 0.0666666666
					}
				}
				@VertexMitchellNetravaliHeightMapRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
						@offset *= 0.0666666666
					}
				}
				@VertexHeightNoiseVertHeightRegional,*
				{
					@Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexHeightNoiseVertHeightCurve2Regional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexRidgedAltitudeCurveRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexHeightNoiseRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexHeightOffsetRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexPlanetRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexSimplexHeightAbsoluteRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexSimplexHeightRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VoronoiCratersRegional,*
				{
					Mod
					{
						@deformity *= 0.0666666666
					}
				}
				@VertexVoronoiRegional,*
				{
					Mod
					{
						@deformation *= 0.03333333333
					}
				}

				@VertexHeightOblateAdvanced
				{
					@radius *= 0.03333333333
					@mass *= 0.00111111111
					@period *= 0.182574186
				}
			}
		}
		
	}
}
@Kopernicus:HAS[@KerbalWildsSettings:HAS[#Scale[Toy]]]:AFTER[theKerbalWildsScale]
{
	@Body[Kerbin]
	{
		@cacheFile = TheKerbalWilds/KopernicusFiles/Cache/ToyScaleCaches/TimberHearth.bin
		@PQS
		{
			@Mods
			{
				@MapDecalTangent
				{
					@radius = 4000
				}
			}
		}
	}
	@Body[Interloper]
	{
		@Properties
		{
			radius = 64000
			@radius *= 0.0912870929
			rotationPeriod = 65108425.847080946
			@rotationPeriod *= 0.182574186
		}
		@PQS
		{
			@Mods
			{
				@LandControl[ScatterLandControl]
				{
					vHeightMax = 50000
					@vHeightMax *= 0.03333333333
				}
				@AltitudeAlpha
				{
					atmosphereDepth = 50000
					@atmosphereDepth *= 0.03333333333
				}
				@VertexMitchellNetravaliHeightMap[ShapeMap]
				{
					deformity = 64000 //radius
					@deformity *= 0.0333333333 //sqrt of rescale factor
					@deformity *= 1.38787222
				}
				@VertexHeightMap[DetailHeight]
				{
					deformity = 1500
					@deformity *= 0.033333333333
				}
				@VertexHeightNoiseRegional[VHNR1]
				{
					@Mod
					{
						deformity = 200
						@deformity *= 0.033333333333
						
					}
				}
				@VertexSimplexHeightAbsolute[VSHA]
				{
					deformity = 250
					@deformity *= 0.033333333333
				}
				@VertexHeightNoiseRegional[VHNR2]
				{
					@Mod
					{
						deformity = 10
						@deformity *= 0.033333333333
						
					}
				}
			}
		}
	}
}