@AsteroidSets:HAS[!KerbalWildsSettings]:FOR[TheKerbalWilds]
{
	#@KerbalWildsSettings {}
}

!AsteroidSets[CustomAsteroids_stock]:HAS[@KerbalWildsSettings:HAS[#SystemType[Replacer]]]:AFTER[TheKerbalWilds]{}
!AsteroidSets[CustomAsteroids_inner]:HAS[@KerbalWildsSettings:HAS[#SystemType[Replacer]]]:AFTER[TheKerbalWilds]{}
!AsteroidSets[CustomAsteroids_outer]:HAS[@KerbalWildsSettings:HAS[#SystemType[Replacer]]]:AFTER[TheKerbalWilds]{}

@AsteroidSets:HAS[!KerbalWildsSettings]:AFTER[TheKerbalWilds]
{
	#@KerbalWildsSettings {}
}
@AsteroidSets[KerbalWilds1]:HAS[@KerbalWildsSettings:HAS[#SystemType[Interstellar]]]:AFTER[TheKerbalWilds]
{
	@ASTEROIDGROUP:HAS[#centralBody[Sun]]
	{
		@centralBody = WildsSun
	}
	@ASTEROIDGROUP[NearTH]
	{
		@orbitSize
		{
			@avg    = Resonance(TimberHearth, 1:1)
			@stddev = Ratio(TimberHearth.sma, 0.1)
		}
	}
	@ASTEROIDGROUP:HAS[!#name[BH_Meteors]]
	{
		conditions
		{
			condition = WildsSun.nowpresent
		}
	}
	@INTERCEPT[TH_Crosser]
	{
		@targetBody = TimberHearth
		@approach
		{
			@max = Ratio(TimberHearth.soi, 0.95)
		}

		@warnTime
		{
			@min = Ratio(TimberHearth.psol,  50)
			@max = Ratio(TimberHearth.psol, 220)
		}

		@vSoi
		{
			@min = Ratio(TimberHearth.vorb, 0.01)
			@max = Ratio(TimberHearth.vorb, 0.05)
		}
	}
}
@AsteroidSets[KerbalWilds1]:HAS[@KerbalWildsSettings:HAS[#NamingScheme[Nomai]]]:AFTER[TheKerbalWilds]
{
	@ASTEROIDGROUP[SunScraper]
	{
		@title = Near Star Ast.
	}
	@ASTEROIDGROUP[NearTH]
	{
		@title = Near Geyser Ast.
	}
	@INTERCEPT[TH_Crosser]
	{
		@title = Near Geyser Ast.
	}
	
	@ASTEROIDGROUP[BH_Meteors]
	{
		@title = Pot. Hazardous Moonlet
	}
	@ASTEROIDGROUP[GD_TrojanLeading]
	{
		@title = Escall Coorbital
	}
	
	@ASTEROIDGROUP[GD_TrojanTrailing]
	{
		@title = Escall Coorbital
	}
	@ASTEROIDGROUP[DB_TrojanLeading]
	{
		@title = EOTU-22A f Coorbital
	}

	@ASTEROIDGROUP[DB_TrojanTrailing]
	{
		@title = EOTU-22A f Coorbital
	}
	
	@ASTEROIDGROUP[BrambleBeltCold]
	{
		@title = Outer System Ast.
	}

	@ASTEROIDGROUP[BrambleBeltHot]
	{
		@title = Outer System Ast.
	}
	@ASTEROIDGROUP[BrambleBelt2-3]
	{
		@title = Outer System Ast.
	}
	
	@ASTEROIDGROUP[InterlopersTail]
	{
		@title = New Comet's Tail
	}
	
	@ASTEROIDGROUP[comet_short_prograde]
	{
		@title = Short Period Comet
	}

	@ASTEROIDGROUP[comet_intermediate_cold]
	{
		@title = Mid Period Comet
	}

	@ASTEROIDGROUP[comet_intermediate_hot]
	{
		@title = Mid Period Comet
	}

	@ASTEROIDGROUP[comet_long_cold]
	{
		@title = Long Period Comet
	}

	@ASTEROIDGROUP[KW_comet_long_hot]
	{
		@title = Long Period Comet
	}


	@ASTEROIDGROUP[KW_comet_interstellar]
	{
		@title = Interstellar Comet
	}
}
@AsteroidSets[KerbalWilds1]:HAS[@KerbalWildsSettings:HAS[#NamingScheme[Exoplanets]]]:AFTER[TheKerbalWilds]
{
	@ASTEROIDGROUP[SunScraper]
	{
		@title = Near-Star Ast.
	}
	@ASTEROIDGROUP[NearTH]
	{
		@title = EOTU-22A Ast.
	}
	@INTERCEPT[TH_Crosser]
	{
		@title = EOTU-22A Ast.
	}
	
	@ASTEROIDGROUP[BH_Meteors]
	{
		@title = EOTU-22A e Moonlet
	}
	@ASTEROIDGROUP[GD_TrojanLeading]
	{
		@title = EOTU-22A b Trojan
	}
	
	@ASTEROIDGROUP[GD_TrojanTrailing]
	{
		@title = EOTU-22A b Trojan
	}
	@ASTEROIDGROUP[DB_TrojanLeading]
	{
		@title = EOTU-22A f Trojan
	}

	@ASTEROIDGROUP[DB_TrojanTrailing]
	{
		@title = EOTU-22A f Trojan
	}
	
	@ASTEROIDGROUP[BrambleBeltCold]
	{
		@title = EOTU-22A Ast.
	}

	@ASTEROIDGROUP[BrambleBeltHot]
	{
		@title = EOTU-22A Ast.
	}
	@ASTEROIDGROUP[BrambleBelt2-3]
	{
		@title = EOTU-22A Ast.
	}
	
	@ASTEROIDGROUP[InterlopersTail]
	{
		@title = EOTU-22 Comet's Tail
	}
	
	@ASTEROIDGROUP[comet_short_prograde]
	{
		@title = EOTU-22A Comet
	}

	@ASTEROIDGROUP[comet_intermediate_cold]
	{
		@title = EOTU-22A Comet
	}

	@ASTEROIDGROUP[comet_intermediate_hot]
	{
		@title = EOTU-22A Comet
	}

	@ASTEROIDGROUP[comet_long_cold]
	{
		@title = EOTU-22A Comet
	}

	@ASTEROIDGROUP[KW_comet_long_hot]
	{
		@title = EOTU-22A Comet
	}


	@ASTEROIDGROUP[KW_comet_interstellar]
	{
		@title = Interstellar Comet
	}
}